

#parças{
    height: 350vh;
  }
  .card-deck{
    padding: 30px;
    padding-left: 130px;
    border: none;
  }
  .card-img-top{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s;
  }
  .card{
    width: 250px;
    height: 250px;
    border: none;
  }
  .card-img-top:hover{
   opacity: 0.5;
   background-color:#43ba7f;
  }
  
  /*parceiros*/
   .filters_menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    margin: 45px 0 20px 0;
  }
  
   .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
  }
  
   .filters_menu li.active {
    color: #ffffff;
  }
  
   .box {
    position: relative;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
  }
  
   .box .img-box {
    background: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
  }
  
   .box .img-box img {
    max-width: 100%;
    max-height: 145px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
   .box .detail-box {
    padding: 25px;
  }
  
   .box .detail-box h5 {
    font-weight: 600;
  }
  
   .box .detail-box p {
    font-size: 15px;
  }
  
   .box .detail-box h6 {
    margin-top: 10px;
  }
  
   .box .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
   .box .options a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ffbe33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
   .box .options a svg {
    width: 18px;
    height: auto;
    fill: #ffffff;
  }
  
   .box:hover .img-box img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
   .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
  .btn-box a {
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .btn-box a:hover {
    background-color: #e69c00;
  }
  